<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		
		#main{
			background-color: #99ffd3;
			background-image: url("https://previews.123rf.com/images/annaleni/annaleni1603/annaleni160300050/53438389-thin-line-green-power-eco-seamless-pattern-website-design-and-tile-background-in-trendy-modern-outli.jpg");
		}
		#link{
			text-align: center;
			font-family: 'Roboto Medium', sans-serif;
		}

		#maindiv{
			text-align: center;
		}
		
	</style>
</head>
<body id="main">
	<div id = maindiv>
	<a href="https://s3.amazonaws.com/case3/result.csv" id="link">DOWNLOAD THE RESULT FILE </a>
	<p>{{ table | safe }}</p>
	</div>

	<div>
		<table style="width:100%">
  		<caption>Monthly savings</caption>
  				<tr>
    				<th>Class Number</th>
    				<th>Name of the Gas</th>
  				</tr>
  				<tr>
    				<td>1</td>
    				<td>Ethanol</td>
  				</tr>
  				<tr>
    				<td>2</td>
    				<td>Ethylene</td>
  				</tr>
  				<tr>
    				<td>3</td>
    				<td>Ammonia</td>
  				</tr>
  				<tr>
    				<td>4</td>
    				<td>Acetaldehyde</td>
  				</tr>
  				<tr>
    				<td>5</td>
    				<td>Acetone</td>
  				</tr>
  				<tr>
    				<td>6</td>
    				<td>Toluene</td>
  				</tr>
		</table>
	</div>
</body>
</html>