<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		
		#main{
			background-color: #99ffd3;
			background-image: url("https://previews.123rf.com/images/annaleni/annaleni1603/annaleni160300050/53438389-thin-line-green-power-eco-seamless-pattern-website-design-and-tile-background-in-trendy-modern-outli.jpg");
		}
		#link{
			text-align: center;
			font-family: 'Roboto Medium', sans-serif;
		}

		#maindiv{
			text-align: center;
		}
		
	</style>
</head>
<body id="main">
	<div id = maindiv>
	<a href="https://s3.amazonaws.com/case3/Output.txt" id="link">DOWNLOAD THE RESULT FILE </a>
	</div>
</body>
</html>